body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100vw;
}

#map { 
    height: 500px; 
    width: 600px;
}

.until {
    margin: 25px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;
    background: lightyellow;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: orange;
    font-family: sans-serif;

}

.until__components {
    text-align: center;
    background: lightyellow;
    border-radius: 5px;
}

.until__numeric{
    color: orange;
    padding: 0.5em 0;
    font-size: 3em;
    font-weight: bold;
}

.until__unit {
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: orange;
}

.until__event {
    grid-column: span 4;
    text-align: center;
    color: orange;
    font-weight: bold;
}
